{% extends "base.min.html" %}
{% block container %}
<div class="container regi">
    <!-- Outer Row -->
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        {% if SETTINGS.forget_password_page_image %}
                        <div class="col-lg-6 d-none d-lg-block bg-password-image" style="background-image: url({{MEDIA_URL}}/settings/{{SETTINGS.forget_password_page_image}});"></div>
                        {% else %}
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        {% endif %}
                        <div class="col-lg-6">
                            <div class="p-4">
                                <div class="action-logo">
                                    {% if SETTINGS.logo %}
                                        <img class="" src="{{MEDIA_URL}}/settings/{{SETTINGS.logo}}">
                                    {% else %}
                                        <img class="" src="{{STATIC_URL}}/img/logo.png">
                                    {% endif %}
                                </div>
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">{{ _("Forgot Your Password?") }}</h1>
                                    <p class="mb-4">{{ _("We get it, stuff happens. Just enter your email below and we'll send you a link to reset your password!") }}</p>
                                </div>
                                {{ msg() }}
                                <form class="user" method="POST">
                                    {{ csrf_token()|raw }}
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control form-control-user" id="email" aria-describedby="email" placeholder="{{ _('Enter Email Address...') }}">
                                    </div>
                                    <!-- reCpatcha -->
                                    {% if SETTINGS.recaptcha_version == 2 %}
                                    <div class="g-recaptcha" data-sitekey="{{SETTINGS.recaptcha_sitekey}}"></div>
                                    {% endif %}
                                    {% if SETTINGS.recaptcha_version == 3 %}
                                    <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
                                    {% endif %}
                                    <!-- /reCpatcha -->
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        {{ _('Reset Password') }}
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ url('register') }}"><i class="fa fa-user-plus"></i> {{_("Create an Account!")}}</a>
                                    <a class="small" href="{{ url('login') }}"><i class="fa fa-sign-in-alt"></i> {{_("I have an Account")}}</a>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ url('index') }}"><i class="fa fa-home"></i> {{_("Home")}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
