{% extends "base.index.html" %}
{% block content %}
<section class="bg-white py-5 main-content {% if SETTINGS.homepage_banner_view == '0' %}no-header{% endif %}">
    <div class="container">
        <span class="chat-list-header">
            <h2 class="mb-2">{{ _("Terms & Conditions") }}</h2>
        </span>
        <div class="row mt-5">
            <div class="col">
                {% if SETTINGS.terms_and_conditions %}
                    {{SETTINGS.terms_and_conditions|htmlspecialchars_decode|raw}}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
